@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    padding: 50px;
    background: rgb(130, 134, 255);
}

.tarjeta-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-persona{
    border: 1px solid red; 
    color: black;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.8);
    margin: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}