.informacion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    padding: 50px 5%;
    background-color: #f4f4f4;
    color: rgb(77, 77, 77);
    justify-content: center;
    align-items: start;
}

.descripcion {
    flex: 1 1 400px;
    font-size: 2rem;
    font-family: 'OpenSans', sans-serif;
    color: #333;
    min-width: 300px;
    text-align: justify;
}

#titulo_descripcion_primero {
    color: rgb(171, 171, 45);
    font-size: 2.2rem;
    font-family: 'MontserratLight', sans-serif;
}

#titulo_descripcion_segundo {
    color: black;
    font-size: 4rem;
    line-height: 1.2;
    font-family: 'MontserratBlack', sans-serif;
    font-weight: 900;
}

.fotos_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
}

.fotos_body img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}