.portafolio_trabajo {
    display: flex;
    margin: 0;
    background-image: url('../images/foto_portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    padding: 80px;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra negra con transparencia */
}

.portafolio_trabajo p {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-family: 'OpenSansItalic', sans-serif;
    font-weight: 400;
    font-style: italic;
}


.portafolio_trabajo a{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 200px;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 25%;   
    color: black;
}

.portafolio_trabajo a:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    text-decoration: underline;
    cursor: pointer;
}

.filtro::after{
    background-color: rgba(0, 0, 0, 1);
}